Unit Tests/SoapProjects/translatePneumatic.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
	targetNamespace="http://www.smartfactory.de/translatePneumatic"
	xmlns:tns="http://www.smartfactory.de/translatePneumatic"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">


	<!-- 	*****************************************************
			Types
		*****************************************************	-->

	<wsdl:types>
		<xs:schema
			targetNamespace="http://www.smartfactory.de/translatePneumatic"
			xmlns:tns="http://www.smartfactory.de/translatePneumatic"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			
			<xs:element name="translateDirection1" type="xs:string" />

			<xs:element name="translateDirection1Response" type="xs:string" />
			
			<xs:element name="translateDirection2" type="xs:string" />

			<xs:element name="translateDirection2Response" type="xs:string" />	
			
			<xs:element name="stop" type="xs:string" />

			<xs:element name="stopResponse" type="xs:string" />	
		</xs:schema>
	</wsdl:types>


	<!-- 	*****************************************************
			Messages
		*****************************************************	-->

	<wsdl:message name="translateDirection1RequestMessage">
		<wsdl:part name="parameters" element="tns:translateDirection1" />
	</wsdl:message>

	<wsdl:message name="translateDirection1ResponseMessage">
		<wsdl:part name="parameters" element="tns:translateDirection1Response" />
	</wsdl:message>

	<wsdl:message name="translateDirection2RequestMessage">
		<wsdl:part name="parameters" element="tns:translateDirection2" />
	</wsdl:message>

	<wsdl:message name="translateDirection2ResponseMessage">
		<wsdl:part name="parameters" element="tns:translateDirection2Response" />
	</wsdl:message>
	
	<wsdl:message name="stopRequestMessage">
		<wsdl:part name="parameters" element="tns:stop" />
	</wsdl:message>

	<wsdl:message name="stopResponseMessage">
		<wsdl:part name="parameters" element="tns:stopResponse" />
	</wsdl:message>
	
	<!-- 	*****************************************************
			PortTypes
		*****************************************************	-->

	<wsdl:portType name="translatePneumatic">

		<wsdl:operation name="translateDirection1">
			<wsdl:input message="tns:translateDirection1RequestMessage" />
			<wsdl:output message="tns:translateDirection1ResponseMessage" />
		</wsdl:operation>

		<wsdl:operation name="translateDirection2">
			<wsdl:input message="tns:translateDirection2RequestMessage" />
			<wsdl:output message="tns:translateDirection2ResponseMessage" />
		</wsdl:operation>

		<wsdl:operation name="stop">
			<wsdl:input message="tns:stopRequestMessage" />
			<wsdl:output message="tns:stopResponseMessage" />
		</wsdl:operation>
		
	</wsdl:portType>


	<!-- 	*****************************************************
			Bindings
		*****************************************************	-->

	<wsdl:binding name="translatePneumatic-soap" type="tns:translatePneumatic">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="translateDirection1">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="translateDirection2">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="stop">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>		
		
	</wsdl:binding>


	<!-- 	*****************************************************
			Services
		*****************************************************	-->

	<wsdl:service name="translatePneumatic">
		<wsdl:port name="translatePneumatic-port" binding="tns:translatePneumatic-soap">
			<soap:address location="http://192.168.250.19:10221/translatePneumaticService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
