Unit Tests/SoapProjects/translateElectricBelt.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
	targetNamespace="http://www.smartfactory.de/translateElectricBelt"
	xmlns:tns="http://www.smartfactory.de/translateElectricBelt"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">


	<!-- 	*****************************************************
			Types
		*****************************************************	-->

	<wsdl:types>
		<xs:schema
			targetNamespace="http://www.smartfactory.de/translateElectricBelt"
			xmlns:tns="http://www.smartfactory.de/translateElectricBelt"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			
			<xs:simpleType name="direction">
				<xs:restriction base="xs:token">
					<xs:enumeration value="direction1" />
					<xs:enumeration value="direction2" />
				</xs:restriction>
			</xs:simpleType>		
			
			<xs:element name="moveVelocity">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="velocity" type="xs:int" />
						<xs:element name="direction" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="moveVelocityResponse" type="xs:string" />
			
			<xs:element name="stop" type="xs:string" />

			<xs:element name="stopResponse" type="xs:string" />				
		</xs:schema>
	</wsdl:types>


	<!-- 	*****************************************************
			Messages
		*****************************************************	-->

	<wsdl:message name="moveVelocityRequestMessage">
		<wsdl:part name="parameters" element="tns:moveVelocity" />
	</wsdl:message>

	<wsdl:message name="moveVelocityResponseMessage">
		<wsdl:part name="parameters" element="tns:moveVelocityResponse" />
	</wsdl:message>

	<wsdl:message name="stopRequestMessage">
		<wsdl:part name="parameters" element="tns:stop" />
	</wsdl:message>

	<wsdl:message name="stopResponseMessage">
		<wsdl:part name="parameters" element="tns:stopResponse" />
	</wsdl:message>
	
	<!-- 	*****************************************************
			PortTypes
		*****************************************************	-->

	<wsdl:portType name="translateElectricBelt">

		<wsdl:operation name="moveVelocity">
			<wsdl:input message="tns:moveVelocityRequestMessage" />
			<wsdl:output message="tns:moveVelocityResponseMessage" />
		</wsdl:operation>

		<wsdl:operation name="stop">
			<wsdl:input message="tns:stopRequestMessage" />
			<wsdl:output message="tns:stopResponseMessage" />
		</wsdl:operation>
		
	</wsdl:portType>


	<!-- 	*****************************************************
			Bindings
		*****************************************************	-->

	<wsdl:binding name="translateElectricBelt-soap" type="tns:translateElectricBelt">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="moveVelocity">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="stop">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>


	<!-- 	*****************************************************
			Services
		*****************************************************	-->

	<wsdl:service name="translateElectricBelt">
		<wsdl:port name="translateElectricBelt-port" binding="tns:translateElectricBelt-soap">
			<soap:address location="http://192.168.250.36:10221/translateElectricBeltService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
