Unit Tests/SoapProjects/verifyingGripElectric.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
	targetNamespace="http://www.smartfactory.de/verifyingGripElectric"
	xmlns:tns="http://www.smartfactory.de/verifyingGripElectric"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">


	<!-- 	*****************************************************
			Types
		*****************************************************	-->

	<wsdl:types>
		<xs:schema
			targetNamespace="http://www.smartfactory.de/verifyingGripElectric"
			xmlns:tns="http://www.smartfactory.de/verifyingGripElectric"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" blockDefault="#all">
			
			<xs:element name="hold" type="xs:string" />

			<xs:element name="holdResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="detected" type="xs:boolean" minOccurs="1" maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="release" type="xs:string" />

			<xs:element name="releaseResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="detected" type="xs:boolean" minOccurs="1" maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:schema>
	</wsdl:types>


	<!-- 	*****************************************************
			Messages
		*****************************************************	-->
	
	<wsdl:message name="holdRequestMessage">
		<wsdl:part name="parameters" element="tns:hold" />
	</wsdl:message>

	<wsdl:message name="holdResponseMessage">
		<wsdl:part name="parameters" element="tns:holdResponse" />
	</wsdl:message>
	
	<wsdl:message name="releaseRequestMessage">
		<wsdl:part name="parameters" element="tns:release" />
	</wsdl:message>

	<wsdl:message name="releaseResponseMessage">
		<wsdl:part name="parameters" element="tns:releaseResponse" />
	</wsdl:message>


	<!-- 	*****************************************************
			PortTypes
		*****************************************************	-->

	<wsdl:portType name="verifyingGripElectric">
		
		<wsdl:operation name="hold">
			<wsdl:input message="tns:holdRequestMessage" />
			<wsdl:output message="tns:holdResponseMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="release">
			<wsdl:input message="tns:releaseRequestMessage" />
			<wsdl:output message="tns:releaseResponseMessage" />
		</wsdl:operation>

	</wsdl:portType>


	<!-- 	*****************************************************
			Bindings
		*****************************************************	-->

	<wsdl:binding name="verifyingGripElectric-soap" type="tns:verifyingGripElectric">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="hold">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="release">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>


	<!-- 	*****************************************************
			Services
		*****************************************************	-->

	<wsdl:service name="verifyingGripElectric">
		<wsdl:port name="verifyingGripElectric-port" binding="tns:verifyingGripElectric-soap">
			<soap:address location="http://192.168.250.32:10222/verifyingGripElectricService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
