ResCom_OPC_UA_WrapperServers/GeSCo/Connected Services/ServiceReference/MESimulationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/MESimulationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MESimulationService" />
  <xs:element name="getNextSFC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SFCCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextSFCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNextSFCResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextSFC_Revised">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SFCCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextSFC_RevisedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNextSFC_RevisedResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextSFC_AsString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SFCCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextSFC_AsStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MESimulationService" minOccurs="0" name="getNextSFC_AsStringResult" nillable="true" type="q1:DataContracts.GetSFCsDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSFCToComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SFCCount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSFCToCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSFCToCompleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testmethod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testmethodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>