ResCom_OPC_UA_WrapperServers/GeSCo/Connected Services/ServiceReference/MESimulationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:8090/MESimulationService?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:8090/MESimulationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/MESimulationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MESimulationService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMESimulationService_getNextSFC_InputMessage">
    <wsdl:part name="parameters" element="getNextSFC" />
  </wsdl:message>
  <wsdl:message name="IMESimulationService_getNextSFC_OutputMessage">
    <wsdl:part name="parameters" element="getNextSFCResponse" />
  </wsdl:message>
  <wsdl:message name="IMESimulationService_getNextSFC_Revised_InputMessage">
    <wsdl:part name="parameters" element="getNextSFC_Revised" />
  </wsdl:message>
  <wsdl:message name="IMESimulationService_getNextSFC_Revised_OutputMessage">
    <wsdl:part name="parameters" element="getNextSFC_RevisedResponse" />
  </wsdl:message>
  <wsdl:message name="IMESimulationService_getNextSFC_AsString_InputMessage">
    <wsdl:part name="parameters" element="getNextSFC_AsString" />
  </wsdl:message>
  <wsdl:message name="IMESimulationService_getNextSFC_AsString_OutputMessage">
    <wsdl:part name="parameters" element="getNextSFC_AsStringResponse" />
  </wsdl:message>
  <wsdl:message name="IMESimulationService_SetSFCToComplete_InputMessage">
    <wsdl:part name="parameters" element="SetSFCToComplete" />
  </wsdl:message>
  <wsdl:message name="IMESimulationService_SetSFCToComplete_OutputMessage">
    <wsdl:part name="parameters" element="SetSFCToCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMESimulationService_testmethod_InputMessage">
    <wsdl:part name="parameters" element="testmethod" />
  </wsdl:message>
  <wsdl:message name="IMESimulationService_testmethod_OutputMessage">
    <wsdl:part name="parameters" element="testmethodResponse" />
  </wsdl:message>
  <wsdl:portType name="IMESimulationService">
    <wsdl:operation name="getNextSFC">
      <wsdl:input wsaw:Action="urn:IMESimulationService/getNextSFC" message="IMESimulationService_getNextSFC_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMESimulationService/getNextSFCResponse" message="IMESimulationService_getNextSFC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNextSFC_Revised">
      <wsdl:input wsaw:Action="urn:IMESimulationService/getNextSFC_Revised" message="IMESimulationService_getNextSFC_Revised_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMESimulationService/getNextSFC_RevisedResponse" message="IMESimulationService_getNextSFC_Revised_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNextSFC_AsString">
      <wsdl:input wsaw:Action="urn:IMESimulationService/getNextSFC_AsString" message="IMESimulationService_getNextSFC_AsString_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMESimulationService/getNextSFC_AsStringResponse" message="IMESimulationService_getNextSFC_AsString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSFCToComplete">
      <wsdl:input wsaw:Action="urn:IMESimulationService/SetSFCToComplete" message="IMESimulationService_SetSFCToComplete_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMESimulationService/SetSFCToCompleteResponse" message="IMESimulationService_SetSFCToComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testmethod">
      <wsdl:input wsaw:Action="urn:IMESimulationService/testmethod" message="IMESimulationService_testmethod_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMESimulationService/testmethodResponse" message="IMESimulationService_testmethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>