ResCom_OPC_UA_WrapperServers/GeSCo/Connected Services/ServiceReference/MESimulationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MESimulationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MESimulationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataContracts.GetSFCsDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="SFCs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataContracts.GetSFCsDC" nillable="true" type="tns:DataContracts.GetSFCsDC" />
</xs:schema>